*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-image:url("gato.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding: 50px;
}
.container{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px 0 ;
}

